<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/static/styles/styles.css" />
  </head>
  <body>
    <nav class="top-nav">
      <div class="logo-container">
        <a href="/">
          <img
            src="../../static/assets/chitter-logo-black.svg"
            alt="Chitter Logo"
            width="200px"
            height="200px"
            id="Home"
          />
        </a>
      </div>
      <div class="buttons-container">
        {% if session.user_id %}
        <p class="nav-text">Welcome {{user.username}}</p>
        <button id="createButton" class="create-button">Create</button>
        <form action="/logout" method="post">
          <button type="submit" class="logout-button">Logout</button>
        </form>
        {% else %}
        <p class="nav-text">Log in to Peep</p>
        <form action="/sign-in" method="get">
          <button type="submit" class="login-button">Log In</button>
        </form>
        {% endif %}
      </div>
    </nav>

    <ul class="peep-list">
      {% for peep in peeps %}
      <li class="peep-item">
        <h2 class="peep-item-title">{{ peep.title }}</h2>
        <p class="peep-item-content">{{ peep.content }}</p>
        <p class="peep-item-author">
          Created By: {{ peep.name }} - {{ peep.username }}
        </p>
        <p class="peep-item-time">{{ peep.time }}</p>
      </li>
      {% endfor %}
    </ul>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>

    <script>
      document
        .getElementById("createButton")
        .addEventListener("click", function () {
          window.location.href = "/create";
        });
    </script>
  </body>
</html>
