<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chitter</title>
    <link rel="stylesheet" href="/static/styles/styles.css" />
  </head>
  <body>
    <div class="container">
      <a href="/"
        ><img
          src="../../static/assets/chitter-logo-black.svg"
          alt="Chitter Logo"
          width="200px"
          height="200px"
      /></a>

      <form class="form-center" action="/login" method="POST">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" id="email" name="email" />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" />
        </div>

        <button class="login-button-auth" type="submit">Log In</button>
      </form>

      <div class="center">
        <a href="/sign-up" class="button-link">
          <button>Sign Up</button>
        </a>
      </div>
    </div>
  </body>
</html>
