<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Peep</title>
    <link rel="stylesheet" href="/static/styles/styles.css" />
  </head>
  <body>
    <nav class="top-nav">
      <a href="/">
        <img
          src="../../static/assets/chitter-logo-black.svg"
          alt="Chitter Logo"
          width="200px"
          height="200px"
        />
      </a>

      <form action="/logout" method="post">
        <button type="submit" class="logout-button">Logout</button>
      </form>
    </nav>

    <div class="center">
      <h1 class="peep-title">Create a New Peep</h1>
      <form action="/create" method="POST">
        <div class="form-group">
          <label for="title">Title:</label><br />
          <input type="text" id="title" name="title" required /><br />
        </div>
        <div class="form-group">
          <label for="content">Content:</label><br />
          <textarea
            type="textarea"
            id="content"
            name="content"
            rows="15"
            required
          ></textarea
          ><br />
        </div>
        <button class="create-button-auth" type="submit">Submit</button>
      </form>
    </div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
  </body>
</html>
