<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up - Chitter</title>
    <link rel="stylesheet" href="/static/styles/styles.css" />
  </head>
  <body>
    <div class="container">
      <a href="/"
        ><img
          src="../../static/assets/chitter-logo-black.svg"
          alt="Chitter Logo"
          width="200px"
          height="200px"
      /></a>

      <form class="form-center" action="/sign-up" method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" />
        </div>

        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" />
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" />
          <span id="password-suggestion" style="color: rgb(37, 37, 37)"
            >Password must contain at least 1 capital letter, 1 number and be at
            least 5 characters long.</span
          >
        </div>

        <button class="create-button-auth" type="submit">Create</button>
      </form>

      <div class="center">
        <a href="/sign-in" class="button-link">
          <button>Log In</button>
        </a>
      </div>
    </div>
  </body>
</html>
