/* styles.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.center {
  text-align: center;
}

.form-center {
  text-align: center;
  width: 300px; /* Set a fixed width for the form */
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block; /* Ensure labels are displayed as block elements */
}

.form-group input {
  width: 100%; /* Make the input boxes fill the width of the form */
  padding: 5px; /* Add some padding for better appearance */
}

.button-link button {
  margin-top: 50px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-link button:hover {
  background-color: #0056b3;
}
