@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Poetsen One";
}

body {
  background: fixed;
  background-image: url("../assets/chitter-bg.jpeg");
  background-size: cover;
}
textarea {
  padding: 5px;
  border-radius: 10px;
  width: 100%;
  padding: 5px;
}
input[type="text"],
input[type="textarea"],
input[type="email"],
input[type="password"] {
  border-radius: 30px;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.center {
  text-align: center;
  width: 40vw;
  margin: 0 auto;
}

.form-center {
  text-align: center;
  width: 300px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
}

.form-group input {
  width: 100%;
  padding: 5px;
}
.create-button-auth {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-button-auth:hover {
  background-color: #0056b3;
}
.login-button-auth {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button-auth:hover {
  background-color: #0056b3;
}

.button-link button {
  margin-top: 50px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-link button:hover {
  background-color: #0056b3;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: none;
}
.nav-text {
  margin-right: 50px;
}

.logo-container {
  margin-right: auto;
}

.buttons-container {
  display: flex;
  align-items: center;
}

.logout-button {
  margin-right: 30px;
  height: 50px;
  background-color: #007bff;
  color: #fff;
  width: auto;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 600;
}

.logout-button:hover {
  background-color: #0056b3;
}

.create-button {
  margin-right: 10px;
  height: 50px;
  width: auto;
  background-color: #95c1f1;
  color: #3b3a3a;
  font-weight: 600;
  border-radius: 15px;
  font-size: 16px;
}

.login-button {
  margin-right: 30px;
  height: 50px;
  background-color: #007bff;
  color: #fff;
  width: auto;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 600;
}
.login-button:hover {
  background-color: #0056b3;
}

.peep-item {
  border: 1px solid lightblue;
  background-color: #effbff;
  border-radius: 30px;
  margin: 50px 30px;
  padding: 10px;
}

.peep-title,
.peep-subtitle {
  text-align: center;
}

.peep-list {
  list-style-type: none;
  padding: 0;
}
